<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Detail Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<h:outputScript library="js" name="jquery-1.10.2.js" />
	<h:outputScript library="js" name="jquery-ui.js" />
    <h:outputScript library="js" name="autocomplete.js" />
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>		
		<div id="content">
		<h:form id="form1">
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>					
				<div id="right">							
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">
									<b>Detail</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton disabled="true" style="float:right" value="Clear Search" action="#{DetailBean.clearSearchAction}" />								
								<h:commandButton value="Search" style="float:right" action="#{DetailBean.searchNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Delete" action="#{DetailBean.deleteAction}" />
								<h:commandButton disabled="true" style="float:right" value="Create" action="#{DetailBean.createNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Edit" action="#{DetailBean.editNavigate}" />
								<h:commandButton value="List" style="float:right" action="#{DetailBean.listNavigate}" />

								<div style="clear:both"></div>
							</div>
						</div>						
						<div id="contentHeader"><br/>Create New Detail<br/><br/></div>
						<div id="createFields">

                           <h:inputHidden property="detailId" value="1"/>
							
							<div class="contentLabel">
								Source:
							</div>
							<div class="contentField">

								<h:selectOneMenu value="#{DetailBean.sourceId}" valueChangeListener="#{DetailBean.setSourceId}" styleClass="dropBox">
									<f:selectItems value="#{DetailBean.sourceIdResults}"/>
								</h:selectOneMenu>

							</div>
							
							<div class="contentLabel">
								Detail:
							</div>
							<div class="ui-widget">
								<div class="contentField">
									<h:inputText value='#{DetailBean.detail}' styleClass="details" onclick="autoCompleteDetail()" />
								</div>
							</div>

							<div style="clear:both"></div>
						</div> <!-- create fields -->
						<div id="contentButtons">	
								
							<h:commandButton value="Cancel" style="float:right" action="#{DetailBean.listNavigate}" />
							<h:commandButton value="Save" style="float:right" action="#{DetailBean.createAction}" />

							<div style="clear:both"></div>
						</div>
						<h:outputText value="#{DetailBean.addNotetext}" styleClass="error"/>
						<h:message for="detail"  styleClass="error"/>
						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
	
						<div class="hide-table">
							<h:dataTable value="#{DetailList.detailList}" var="rows" preserveDataModel="true">								
								<h:column>
									<h:outputText value="#{rows.detail}" styleClass="detail" />
								</h:column>
							</h:dataTable>
						</div>
										
				</div> <!-- right -->
			</f:view>
		<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div><!-- content -->
	</div><!-- wrapper -->
</body>
</html>