<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Detail Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
  <!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
</head>
<body>
	<!--<script type="text/javascript" src="/marketing/faces/javax.faces.resource/jquery-1.10.2.js?ln=js"></script>
	<script type="text/javascript" src="/marketing/faces/javax.faces.resource/jquery-ui.js?ln=js"></script>
	<script type="text/javascript" src="/marketing/faces/javax.faces.resource/autocomplete.js?ln=js"></script>-->
	
	<h:outputScript library="js" name="jquery-1.10.2.js" />
	<h:outputScript library="js" name="jquery-ui.js" />
    <h:outputScript library="js" name="autocomplete.js" />
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Detail</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{DetailBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{DetailBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{DetailBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')" />
								<h:commandButton value="Create" style="float:right" action="#{DetailBean.createNavigate}" />
								<h:commandButton disabled="#{DetailList.editDisabled}" value="Edit" style="float:right" action="#{DetailBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{DetailBean.listNavigate}" />
								<h:commandButton style="float:right" value="Export to CSV" action="#{DetailBean.exporttoCSV}" />

								<div style="clear:both"></div>
							</div>
						</div>
						<h:dataTable value="#{DetailList.detailList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton,  detailSource,  detailDetail">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{DetailBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									<f:setPropertyActionListener target="#{DetailBean.detailId}" value="#{rows.detailId}" />
									<f:setPropertyActionListener target="#{DetailBean.sourceId}" value="#{rows.sourceId}" />
									<f:setPropertyActionListener target="#{DetailBean.detail}" value="#{rows.detail}" />
									<f:setPropertyActionListener target="#{DetailBean.touchDetailFkList}" value="#{rows.touchDetailFkList}" />
									<f:setPropertyActionListener target="#{DetailBean.touchbackDetailFkList}" value="#{rows.touchbackDetailFkList}" />
								</h:commandLink>
								<h:commandLink action="#{DetailBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									<f:setPropertyActionListener target="#{DetailBean.detailId}" value="#{rows.detailId}" />
									<f:setPropertyActionListener target="#{DetailBean.sourceId}" value="#{rows.sourceId}" />
									<f:setPropertyActionListener target="#{DetailBean.detail}" value="#{rows.detail}" />
									<f:setPropertyActionListener target="#{DetailBean.touchDetailFkList}" value="#{rows.touchDetailFkList}" />
									<f:setPropertyActionListener target="#{DetailBean.touchbackDetailFkList}" value="#{rows.touchbackDetailFkList}" />
								</h:commandLink>
							</h:column>
							<h:column headerClass = "detailSource">
								<f:facet name="header">
									<div class="sourceId">Source</div>
								</f:facet>
								<h:selectOneMenu value="#{rows.sourceId}" disabled="true" styleClass="false">
									<f:selectItems value="#{DetailBean.sourceIdResults}"/>
								</h:selectOneMenu>
								#{rows.source}
							</h:column>
							<h:column headerClass = "detailDetail">
								<f:facet name="header">
									<div class="detail">Detail</div>
								</f:facet>
								<h:outputText value="#{rows.detail}" styleClass="detail" />
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{DetailBean.prevResults}" rendered="#{!DetailBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{DetailBean.nextResults}" rendered="#{!DetailBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
<div class="ui-widget">
	<!--<label for="tags">Tags: </label>
	<input id="tags"></input>-->
  
    <div class="contentField">
		<h:inputText id="tags" value='#{DetailBean.detail}' styleClass="details" onclick="autoComplete()"/>
	</div>
</div>

			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>