<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Downloads Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
					
				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Downloads</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{DownloadsBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{DownloadsBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{DownloadsBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')"/>
								<h:commandButton value="Create" style="float:right" action="#{DownloadsBean.createNavigate}" />
								<h:commandButton disabled="#{DownloadsList.editDisabled}" value="Edit" style="float:right" action="#{DownloadsBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{DownloadsBean.listNavigate}" />
								<h:commandButton style="float:right" value="Export to CSV" action="#{DownloadsBean.exporttoCSV}" />

								<div style="clear:both"></div>
							</div>
						</div>
	
						<h:dataTable value="#{DownloadsList.downloadsList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton, downloadName, downloadEmail, downloadDownload, downloadItem, downloadTimestamp, downloadTime, downloadIp">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{DownloadsBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									<f:setPropertyActionListener target="#{DownloadsBean.id}" value="#{rows.id}" />
									<f:setPropertyActionListener target="#{DownloadsBean.name}" value="#{rows.name}" />
									<f:setPropertyActionListener target="#{DownloadsBean.email}" value="#{rows.email}" />
									<f:setPropertyActionListener target="#{DownloadsBean.downloadId}" value="#{rows.downloadId}" />
									<f:setPropertyActionListener target="#{DownloadsBean.itemTitle}" value="#{rows.itemTitle}" />
									<f:setPropertyActionListener target="#{DownloadsBean.timestamp}" value="#{rows.timestamp}" />
									<f:setPropertyActionListener target="#{DownloadsBean.timeRequested}" value="#{rows.timeRequested}" />
									<f:setPropertyActionListener target="#{DownloadsBean.ipAddress}" value="#{rows.ipAddress}" />
								</h:commandLink>
								<h:commandLink action="#{DownloadsBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									<f:setPropertyActionListener target="#{DownloadsBean.id}" value="#{rows.id}" />
									<f:setPropertyActionListener target="#{DownloadsBean.name}" value="#{rows.name}" />
									<f:setPropertyActionListener target="#{DownloadsBean.email}" value="#{rows.email}" />
									<f:setPropertyActionListener target="#{DownloadsBean.downloadId}" value="#{rows.downloadId}" />
									<f:setPropertyActionListener target="#{DownloadsBean.itemTitle}" value="#{rows.itemTitle}" />
									<f:setPropertyActionListener target="#{DownloadsBean.timestamp}" value="#{rows.timestamp}" />
									<f:setPropertyActionListener target="#{DownloadsBean.timeRequested}" value="#{rows.timeRequested}" />
									<f:setPropertyActionListener target="#{DownloadsBean.ipAddress}" value="#{rows.ipAddress}" />
								</h:commandLink>
							</h:column>
							<h:column headerClass = "downloadName">
								<f:facet name="header">
									<div class="name">Name</div>
								</f:facet>
								<h:outputText value="#{rows.name}" styleClass="name" />
							</h:column>
							<h:column headerClass = "downloadEmail">
								<f:facet name="header">
									<div class="email">Email</div>
								</f:facet>
								<h:outputText value="#{rows.email}" styleClass="email" />
							</h:column>
							<h:column headerClass = "downloadDownload">
								<f:facet name="header">
									<div class="downloadId">ID</div>
								</f:facet>
								<h:outputText value="#{rows.downloadId}" styleClass="downloadId" />
							</h:column>
							<h:column headerClass = "downloadItem">
								<f:facet name="header">
									<div class="itemTitle">Title</div>
								</f:facet>
								<h:outputText value="#{rows.itemTitle}" styleClass="itemTitle" />
							</h:column>
							<h:column headerClass = "downloadTimestamp">
								<f:facet name="header">
									<div class="timestamp">Date</div>
								</f:facet>
							    <h:outputText value="#{rows.timestamp}" styleClass="timestamp" />
							</h:column>
							<h:column headerClass = "downloadTime">
								<f:facet name="header">
									<div class="timeRequested">Time</div>
								</f:facet>
								<h:outputText value="#{rows.timeRequested}" styleClass="timeRequested" />
							</h:column>
							<h:column headerClass = "downloadIp">
								<f:facet name="header">
									<div class="ipAddress">IP</div>
								</f:facet>
								<h:outputText value="#{rows.ipAddress}" styleClass="ipAddress" />
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{DownloadsBean.prevResults}" rendered="#{!DownloadsBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{DownloadsBean.nextResults}" rendered="#{!DownloadsBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>