<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Email Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
					
				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Email</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{EmailBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{EmailBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{EmailBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')"/>
								<h:commandButton disabled="true" value="Create" style="float:right" action="#{EmailBean.createNavigate}" />
								<h:commandButton disabled="#{EmailList.editDisabled}" value="Edit" style="float:right" action="#{EmailBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{EmailBean.listNavigate}" />
								<h:commandButton style="float:right" value="Export to CSV" action="#{EmailBean.exporttoCSV}" />

								<div style="clear:both"></div>
							</div>
						</div>
	
						<h:dataTable value="#{EmailList.emailList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton,  emailEmail,  emailPerson">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{EmailBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									<f:setPropertyActionListener target="#{EmailBean.emailId}" value="#{rows.emailId}" />
									<f:setPropertyActionListener target="#{EmailBean.emailAddress}" value="#{rows.emailAddress}" />
									<f:setPropertyActionListener target="#{EmailBean.personId}" value="#{rows.personId}" />
								</h:commandLink>
								<h:commandLink action="#{EmailBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									<f:setPropertyActionListener target="#{EmailBean.emailId}" value="#{rows.emailId}" />
									<f:setPropertyActionListener target="#{EmailBean.emailAddress}" value="#{rows.emailAddress}" />
									<f:setPropertyActionListener target="#{EmailBean.personId}" value="#{rows.personId}" />
								</h:commandLink>
							</h:column>
							<h:column headerClass = "emailEmail">
								<f:facet name="header">
									<div class="emailAddress">Email Address</div>
								</f:facet>
								<h:outputText value="#{rows.emailAddress}" styleClass="emailAddress" />
							</h:column>
							<h:column headerClass = "emailPerson">
								<f:facet name="header">
									<div class="personId">Person</div>
								</f:facet>
								<h:selectOneMenu value="#{rows.personId}" disabled="true" styleClass="false">
									<f:selectItems value="#{EmailBean.personIdResults}"/>
								</h:selectOneMenu>
								#{rows.person}
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{EmailBean.prevResults}" rendered="#{!EmailBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{EmailBean.nextResults}" rendered="#{!EmailBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>