<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Vgo</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2>Marketing Database</h2>
		</div>		
		<div id="content">
			<f:view>
				<h:form>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="./pages/menu.xhtml"/>
			 		<div class="sectionHeader">Object List</div>
					<ul>

		         		<li>
							<h:commandLink action="#{companyBean}" >

								<span id="list">Company List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{detailBean}" >

								<span id="list">Detail List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{downloadsBean}" >

								<span id="list">Downloads List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{emailBean}" >

								<span id="list">Email List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{entityBean}" >

								<span id="list">Entity List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{noteBean}" >

								<span id="list">Note List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{personBean}" >

								<span id="list">Person List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{sourceBean}" >

								<span id="list">Source List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{touchBean}" >

								<span id="list">Touch List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{touchbackBean}" >

								<span id="list">Touchback List</span>

							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{visitorsBean}" >

								<span id="list">Visitors List</span>

							</h:commandLink>
						</li>

						<li>

							<a href="http://www.vgosoftware.com/rev">
							<img src='../images/evo_logo.jpg' width="99%" border="0" alt="Powered By Vgo" />
							</a>

						</li>
					</ul>
				</div> <!-- Menu -->	
						<div id="right">
							<div class="sectionHeader">
								The Vgo Software Suite
							</div>
						<!-- Content -->
						The mission of Vgo Software is to allow developers to focus on what they are good at; designing and developing rock solid applications.  In that regard, NEOS will continue to offer products that speed overall development time, reducing the time allocated to development tasks that could be automated.
						
						<p>You will need to add the line: set CATALINA_OPTS=-Dorg.apache.el.parser.COERCE_TO_ZERO=false to catalina.bat and restart if you are running Tomcat</p>
						</div> <!-- right -->	
								<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif" /></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
					</h:form>
				</f:view>
			</div> <!-- content -->
		</div> <!-- wrapper -->
	</body>
</html>

