<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
					<ul>
		         		<li>
							<h:link outcome="home" >
								<span id="list">Home</span>
							</h:link>
						</li>	
						<li>
							<h:commandLink action="#{EntityBean.listNavigate}" immediate="true">
								<span id="list">Entity List</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{CompanyBean.listNavigate}" immediate="true">
								<span id="list">Company List</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{CompanyBean.createNavigate}" immediate="true">
								<span id="list">-- Company Create</span>
							</h:commandLink>
						</li>	
		         		<li>
							<h:commandLink action="#{PersonBean.listNavigate}" immediate="true">
								<span id="list">Person List</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{PersonBean.createNavigate}" immediate="true">
								<span id="list">-- Person Create</span>
							</h:commandLink>
						</li>	
						<li>
							<h:commandLink action="#{EmailBean.listNavigate}" immediate="true">
								<span id="list">Email List</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{SourceBean.listNavigate}" immediate="true">
								<span id="list">Source List</span>
							</h:commandLink>
						</li>
						<li>
							<h:commandLink action="#{SourceBean.createNavigate}" immediate="true">
								<span id="list">-- Source Create</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{TouchBean.listNavigate}" immediate="true">
								<span id="list">Touch List</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{TouchBean.createNavigate}" immediate="true">
								<span id="list">-- Touch Create</span>
							</h:commandLink>
						</li>						
		         		<li>
							<h:commandLink action="#{TouchbackBean.listNavigate}" immediate="true">
								<span id="list">Touchback List</span>
							</h:commandLink>
						</li>
		         		<li>
							<h:commandLink action="#{TouchbackBean.createNavigate}" immediate="true">
								<span id="list">-- Touchback Create</span>
							</h:commandLink>
						</li>													
		         		<li>
							<h:commandLink action="#{DetailBean.listNavigate}" immediate="true">
								<span id="list">Detail List</span>
							</h:commandLink>
						</li>
						<li>
							<h:commandLink action="#{DetailBean.createNavigate}" immediate="true">
								<span id="list">-- Detail Create</span>
							</h:commandLink>
						</li>
						
		         		<li>
							<h:commandLink action="#{DownloadsBean.listNavigate}" immediate="true">
								<span id="list">Downloads List</span>
							</h:commandLink>
						</li>						
		         		<li>
							<h:commandLink action="#{VisitorsBean.listNavigate}" immediate="true">
								<span id="list">Visitors List</span>
							</h:commandLink>
						</li>

						<li>
							<a href="http://www.vgosoftware.com">
							<img src='../images/g_vgo_logo_lg.jpg' width="99%" border="0" alt="Powered By Vgo" />
							</a>
						</li>
					</ul>
</ui:composition>