<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Note Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
					
				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Note</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{NoteBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{NoteBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{NoteBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')"/>
								<h:commandButton value="Create" style="float:right" action="#{NoteBean.createNavigate}" />
								<h:commandButton disabled="#{NoteList.editDisabled}" value="Edit" style="float:right" action="#{NoteBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{NoteBean.listNavigate}" />

								<div style="clear:both"></div>
							</div>
						</div>
	
						<h:dataTable value="#{NoteList.noteList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton, noteType, noteId, noteNote">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{NoteBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									<f:setPropertyActionListener target="#{NoteBean.noteId}" value="#{rows.noteId}" />
									<f:setPropertyActionListener target="#{NoteBean.objectType}" value="#{rows.objectType}" />
									<f:setPropertyActionListener target="#{NoteBean.objectId}" value="#{rows.objectId}" />
									<f:setPropertyActionListener target="#{NoteBean.note}" value="#{rows.note}" />
								</h:commandLink>
								<h:commandLink action="#{NoteBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									<f:setPropertyActionListener target="#{NoteBean.noteId}" value="#{rows.noteId}" />
									<f:setPropertyActionListener target="#{NoteBean.objectType}" value="#{rows.objectType}" />
									<f:setPropertyActionListener target="#{NoteBean.objectId}" value="#{rows.objectId}" />
									<f:setPropertyActionListener target="#{NoteBean.note}" value="#{rows.note}" />
								</h:commandLink>
							</h:column>
							<h:column headerClass = "noteType">
								<f:facet name="header">
									<div class="objectType">Type</div>
								</f:facet>
								<h:outputText value="#{rows.objectType}" styleClass="objectType" />
							</h:column>
							<h:column headerClass = "noteId">
								<f:facet name="header">
									<div class="objectId">Object</div>
								</f:facet>
							    <h:outputText value="#{rows.objectId}" styleClass="objectId" />
							</h:column>
							<h:column headerClass = "noteNote">
								<f:facet name="header">
									<div class="note">Note</div>
								</f:facet>
								<h:outputText value="#{rows.note}" styleClass="note" />
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{NoteBean.prevResults}" rendered="#{!NoteBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{NoteBean.nextResults}" rendered="#{!NoteBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>