<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Person Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
	<h:outputScript name="js/formValidate.js" />
	
</head>
<body>
	<h:outputScript library="js" name="jquery-1.10.2.js" />
	<h:outputScript library="js" name="jquery-ui.js" />
    <h:outputScript library="js" name="autocomplete.js" />
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>		
		<div id="content">
		<h:form id="form1" onsubmit="return validateFieldEmpty(this, 'lastName')">
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>					
				<div id="right">	
						
						
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">
									<b>Person</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton disabled="true" style="float:right" value="Clear Search" action="#{PersonBean.clearSearchAction}" />								
								<h:commandButton value="Search" style="float:right" action="#{PersonBean.searchNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Delete" action="#{PersonBean.deleteAction}" />
								<h:commandButton disabled="true" style="float:right" value="Create" action="#{PersonBean.createNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Edit" action="#{PersonBean.editNavigate}" />
								<h:commandButton value="List" style="float:right" action="#{PersonBean.listNavigate}" />

								<div style="clear:both"></div>
							</div>
						</div>						
						<div id="contentHeader"><br/>Create New Person<br/><br/></div>
						<div id="createFields">

                           <h:inputHidden property="personId" value="1"/>
							
							<div class="contentLabel">
								First Name:
							</div>
							<div class="contentField">

								<h:inputText value='#{PersonBean.firstName}' maxlength="45" styleClass="firstName" />
							
							</div>		    

							
							<div class="contentLabel">
								Last Name:
							</div>
							<div class="contentField">

								<h:inputText value='#{PersonBean.lastName}' maxlength="45" styleClass="lastName"/>

							</div>		    

							
							<div class="contentLabel">
								Title:
							</div>
							<div class="contentField">

								<h:inputText value='#{PersonBean.title}' maxlength="45" styleClass="title" />

							</div>

							<div class="contentLabel">
								Email Address:
							</div>
							<div class="contentField">

								<h:inputText value='#{PersonBean.emailAddress}' maxlength="45" styleClass="details" onclick="autoCompleteEmail()" />

							</div>

							
							<div class="contentLabel">
								Company:
							</div>
							<div class="contentField">

								<h:selectOneMenu value="#{PersonBean.companyId}" valueChangeListener="#{PersonBean.setCompanyId}" styleClass="dropBox">
									<f:selectItems value="#{PersonBean.companyIdResults}"/>
								</h:selectOneMenu>

							</div>		    
							<div style="clear:both"></div>
						</div> <!-- create fields -->
						<div id="contentButtons">	
								
							<h:commandButton value="Cancel" style="float:right" action="#{PersonBean.listNavigate}" />
							<h:commandButton value="Save" onclick="clicked=this.value" style="float:right" action="#{PersonBean.createAction}" />

							<div style="clear:both"></div>
						</div>

						<h:outputText value="#{PersonBean.addNotetext}" styleClass="error"/>
						
						<div class="hide-table">
							<h:dataTable value="#{EmailList.emailList}" var="rows" preserveDataModel="true">								
								<h:column>
									<h:outputText value="#{rows.emailAddress}" styleClass="email" />
								</h:column>
							</h:dataTable>
						</div>
					
				</div> <!-- right -->
			</f:view>
		<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div><!-- content -->
	</div><!-- wrapper -->
</body>
</html>