<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Person Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
	<f:metadata>
			<f:event type="preRenderView" listener="#{PersonBean.refreshNotesList}"/>
	</f:metadata>
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>	
		<div id="content">
		<h:form id="form1">	
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>					
				<div id="right">				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Person</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>
								<h:commandButton disabled="true" style="float:right" value="Clear Search" action="#{PersonBean.clearSearchAction}" />							
								<h:commandButton value="Search" style="float:right" action="#{PersonBean.searchNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Delete" action="#{PersonBean.deleteAction}" />
								<h:commandButton value="Create" style="float:right" action="#{PersonBean.createNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Edit" action="#{PersonBean.editNavigate}" />
								<h:commandButton value="List" style="float:right" action="#{PersonBean.listNavigate}" />
								<div style="clear:both"></div>	
							</div>
						</div>								
						<div id="contentHeader"><br/>Edit Person<br/><br/></div>
						<div id="editFields">							    
							<div class="contentLabel">
								First Name:
							</div>						
							<div class="contentField">
								<h:inputText value='#{PersonBean.firstName}'  maxlength="45" styleClass="firstName" />
							</div>					
							<div class="contentLabel">
								Last Name:
							</div>						
							<div class="contentField">
								<h:inputText value='#{PersonBean.lastName}'  maxlength="45" styleClass="lastName" />
							</div>					
							<div class="contentLabel">
								Title:
							</div>						
							<div class="contentField">
								<h:inputText value='#{PersonBean.title}'  maxlength="45" styleClass="title" />
							</div>					
							<div class="contentLabel">
								Company:
							</div>						
							<div class="contentField">
								<h:selectOneMenu value="#{PersonBean.companyId}"  valueChangeListener="#{PersonBean.setCompanyId}" styleClass="dropBox">
									<f:selectItems value="#{PersonBean.companyIdResults}"/>
								</h:selectOneMenu>
							</div>
							<div class="contentLabel">
								emailPersonFkList:
							</div>						
								<h:dataTable value="#{PersonBean.emailPersonFkList}" rendered="#{PersonBean.emailPersonFkListRendered}" var="rows" preserveDataModel="false" styleClass="livetableList" columnClasses="blank,  personId,  firstName,  lastName,  title,  companyId,  emailPersonFkList,  entityPersonFkList,  ">															
									<h:column>
										<f:facet name="header">
											<div class="emailId">emailId</div>
										</f:facet>
								    	<h:outputText value="#{rows.emailId}" styleClass="emailId" />
									</h:column>
		          				    
									<h:column>
										<f:facet name="header">
											<div class="emailAddress">emailAddress</div>
										</f:facet>
										<h:outputText value="#{rows.emailAddress}" styleClass="emailAddress" />
									</h:column>
		          				    
									<h:column>
										<f:facet name="header">
											<div class="personId">personId</div>
										</f:facet>
										<h:outputText value="#{rows.personId}"  styleClass="personId" />
									</h:column>
		          				    
								</h:dataTable>
							<div class="contentLabel">
								entityPersonFkList:
							</div>						
								<h:dataTable value="#{PersonBean.entityPersonFkList}" rendered="#{PersonBean.entityPersonFkListRendered}" var="rows" preserveDataModel="false" styleClass="livetableList" columnClasses="blank,  personId,  firstName,  lastName,  title,  companyId,  emailPersonFkList,  entityPersonFkList,  ">															
									<h:column>
										<f:facet name="header">
											<div class="entityId">entityId</div>
										</f:facet>
								    	<h:outputText value="#{rows.entityId}" styleClass="entityId" />
									</h:column>
		          				    
									<h:column>
										<f:facet name="header">
											<div class="companyId">companyId</div>
										</f:facet>
										<h:outputText value="#{rows.companyId}"  styleClass="companyId" />
									</h:column>
		          				    
									<h:column>
										<f:facet name="header">
											<div class="personId">personId</div>
										</f:facet>
										<h:outputText value="#{rows.personId}"  styleClass="personId" />
									</h:column>
		          				    
									<h:column>
										<f:facet name="header">
											<div class="touchEntityFkList">touchEntityFkList</div>
										</f:facet>
										<h:outputText value="#{rows.touchEntityFkList}"  styleClass="touchEntityFkList" />
									</h:column>
		          				    
									<h:column>
										<f:facet name="header">
											<div class="touchbackEntityFkList">touchbackEntityFkList</div>
										</f:facet>
										<h:outputText value="#{rows.touchbackEntityFkList}"  styleClass="touchbackEntityFkList" />
									</h:column>
		          				    
								</h:dataTable>
							<div class = "notes-display">
								<div class = "notes-header">
									Notes
								</div>
								<ui:repeat 	value="#{NoteList.noteList}"
											var="rows" varStatus="rowstatus">
									<div class="notes-content">
										<h:inputTextarea value='#{rows.note}' maxlength="2000" styleClass="notes-edit-content" />  	

										<h:commandButton value="Edit" style="float:right" action="#{rows.editNoteAction}" />
										<h:commandButton value="Delete" style="float:right" action="#{rows.deleteNoteAction}" />
									</div>
								</ui:repeat>							
								<div class="notes-add">
									<h:inputTextarea value='#{PersonBean.addNotetext}' maxlength="2000" styleClass="notes-add-input" />  	
									<h:commandButton value="Add Note" style="float:right" action="#{PersonBean.addNote}" />
								</div>
							</div>
							<div style="clear:both"></div>			
						</div><!-- edit fields -->
						<div id="contentButtons">							
							
							<h:commandButton value="Cancel" style="float:right" action="#{PersonBean.listNavigate}" />
							<h:commandButton value="Save" style="float:right" action="#{PersonBean.editAction}" />

							<div style="clear:both"></div>
						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>				
					
				</div> <!-- right -->					
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div><!-- content -->
	</div><!-- wrapper -->
</body>
</html>