<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Person Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
					
				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Person</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{PersonBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{PersonBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{PersonBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')"/>
								<h:commandButton value="Create" style="float:right" action="#{PersonBean.createNavigate}" />
								<h:commandButton disabled="#{PersonList.editDisabled}" value="Edit" style="float:right" action="#{PersonBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{PersonBean.listNavigate}" />
								<h:commandButton style="float:right" value="Export to CSV" action="#{PersonBean.exporttoCSV}" />

								<div style="clear:both"></div>
							</div>
						</div>
	
						<h:dataTable value="#{PersonList.personList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton, personFirst, personLast, personTitle, personCompany">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{PersonBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									
									<f:setPropertyActionListener target="#{PersonBean.personId}" value="#{rows.personId}" />
									<f:setPropertyActionListener target="#{PersonBean.firstName}" value="#{rows.firstName}" />
									<f:setPropertyActionListener target="#{PersonBean.lastName}" value="#{rows.lastName}" />
									<f:setPropertyActionListener target="#{PersonBean.title}" value="#{rows.title}" />
									<f:setPropertyActionListener target="#{PersonBean.companyId}" value="#{rows.companyId}" />
									<f:setPropertyActionListener target="#{PersonBean.emailPersonFkList}" value="#{rows.emailPersonFkList}" />
									<f:setPropertyActionListener target="#{PersonBean.entityPersonFkList}" value="#{rows.entityPersonFkList}" />
								</h:commandLink>
								<h:commandLink action="#{PersonBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									
									<f:setPropertyActionListener target="#{PersonBean.personId}" value="#{rows.personId}" />
									<f:setPropertyActionListener target="#{PersonBean.firstName}" value="#{rows.firstName}" />
									<f:setPropertyActionListener target="#{PersonBean.lastName}" value="#{rows.lastName}" />
									<f:setPropertyActionListener target="#{PersonBean.title}" value="#{rows.title}" />
									<f:setPropertyActionListener target="#{PersonBean.companyId}" value="#{rows.companyId}" />
									<f:setPropertyActionListener target="#{PersonBean.emailPersonFkList}" value="#{rows.emailPersonFkList}" />
									<f:setPropertyActionListener target="#{PersonBean.entityPersonFkList}" value="#{rows.entityPersonFkList}" />
								</h:commandLink>
							</h:column>
							<h:column headerClass = "personFirst">
								<f:facet name="header">
									<div class="firstName">First Name</div>
								</f:facet>
								<h:outputText value="#{rows.firstName}" styleClass="firstName" />
							</h:column>
							<h:column headerClass = "personLast">
								<f:facet name="header">
									<div class="lastName">Last Name</div>
								</f:facet>
								<h:outputText value="#{rows.lastName}" styleClass="lastName" />
							</h:column>
							<h:column headerClass = "personTitle">
								<f:facet name="header">
									<div class="title">Title</div>
								</f:facet>
								<h:outputText value="#{rows.title}" styleClass="title" />
							</h:column>
							<h:column headerClass = "personCompany">
								<f:facet name="header">
									<div class="companyId">Company</div>
								</f:facet>
								<h:selectOneMenu value="#{rows.companyId}" disabled="true" styleClass="false">
									<f:selectItems value="#{PersonBean.companyIdResults}"/>
								</h:selectOneMenu>
								#{rows.company}
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{PersonBean.prevResults}" rendered="#{!PersonBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{PersonBean.nextResults}" rendered="#{!PersonBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>