<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Touchback Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
	<script src="../js/formValidate.js" />

</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>		
		<div id="content">
		<h:form id="form1"  onsubmit="return validateDetailSelected(this)">
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>					
				<div id="right">	
						
						
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">
									<b>Touchback</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton disabled="true" style="float:right" value="Clear Search" action="#{TouchbackBean.clearSearchAction}" />								
								<h:commandButton value="Search" style="float:right" action="#{TouchbackBean.searchNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Delete" action="#{TouchbackBean.deleteAction}" />
								<h:commandButton disabled="true" style="float:right" value="Create" action="#{TouchbackBean.createNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Edit" action="#{TouchbackBean.editNavigate}" />
								<h:commandButton value="List" style="float:right" action="#{TouchbackBean.listNavigate}" />

								<div style="clear:both"></div>
							</div>
						</div>						
						<div id="contentHeader"><br/>Create New Touchback<br/><br/></div>
						<div id="createFields">

                           <h:inputHidden property="touchbackId" value="1"/>
							
							<div class="contentLabel">
								Entity:
							</div>
							<div class="contentField">

								<h:selectOneMenu value="#{TouchbackBean.entityId}" valueChangeListener="#{TouchbackBean.setEntityId}" styleClass="dropBox">
									<f:selectItems value="#{TouchbackBean.entityIdResults}"/>
								</h:selectOneMenu>

							</div>		    

							
							<div class="contentLabel">
								Date:
							</div>
							<div class="contentField">

						    	<h:inputText name="date" value='#{TouchbackBean.touchbackDate}' styleClass="touchbackDate" >
						    	   <f:convertDateTime pattern="MM/dd/yyyy"/>
						    	</h:inputText>(mm/dd/yyyy)					  	

							</div>		    

							
							<div class="contentLabel">
								Source:
							</div>
							<div class="contentField">

								<h:selectOneMenu value="#{TouchbackBean.sourceId}" valueChangeListener="#{TouchbackBean.setSourceId}" styleClass="dropBox">
									<f:selectItems value="#{TouchbackBean.sourceIdResults}"/>
								</h:selectOneMenu>

							</div>		    

							
							<div class="contentLabel">
								Detail:
							</div>
							<div class="contentField">

								<h:selectOneMenu value="#{TouchbackBean.detailId}" valueChangeListener="#{TouchbackBean.setDetailId}" styleClass="dropBox">
									<f:selectItems value="#{TouchbackBean.detailIdResults}"/>
								</h:selectOneMenu>

							</div>		    


							<div style="clear:both"></div>
						</div> <!-- create fields -->
						<div id="contentButtons">	
								
							<h:commandButton value="Cancel" style="float:right" action="#{TouchbackBean.listNavigate}" />
							<h:commandButton value="Save" style="float:right" action="#{TouchbackBean.createAction}" />

							<div style="clear:both"></div>
						</div>
						<div>
							<h:outputText value="#{TouchbackBean.entity}" styleClass="error"/>
						</div>

					
				</div> <!-- right -->
			</f:view>
		<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div><!-- content -->
	</div><!-- wrapper -->
</body>
</html>