<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Touchback Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
					
				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Touchback</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{TouchbackBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{TouchbackBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{TouchbackBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')"/>
								<h:commandButton value="Create" style="float:right" action="#{TouchbackBean.createNavigate}" />
								<h:commandButton disabled="#{TouchbackList.editDisabled}" value="Edit" style="float:right" action="#{TouchbackBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{TouchbackBean.listNavigate}" />
								<h:commandButton style="float:right" value="Export to CSV" action="#{TouchbackBean.exporttoCSV}" />

								<div style="clear:both"></div>
							</div>
						</div>
	
						<h:dataTable value="#{TouchbackList.touchbackList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton, touchTouch, touchEntity, touchTouchDate, touchSource, touchDetail">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{TouchbackBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									<f:setPropertyActionListener target="#{TouchbackBean.touchbackId}" value="#{rows.touchbackId}" />
									<f:setPropertyActionListener target="#{TouchbackBean.entityId}" value="#{rows.entityId}" />
									<f:setPropertyActionListener target="#{TouchbackBean.touchbackDate}" value="#{rows.touchbackDate}" />
									<f:setPropertyActionListener target="#{TouchbackBean.sourceId}" value="#{rows.sourceId}" />
									<f:setPropertyActionListener target="#{TouchbackBean.detailId}" value="#{rows.detailId}" />
								</h:commandLink>
								<h:commandLink action="#{TouchbackBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									<f:setPropertyActionListener target="#{TouchbackBean.touchbackId}" value="#{rows.touchbackId}" />
									<f:setPropertyActionListener target="#{TouchbackBean.entityId}" value="#{rows.entityId}" />
									<f:setPropertyActionListener target="#{TouchbackBean.touchbackDate}" value="#{rows.touchbackDate}" />
									<f:setPropertyActionListener target="#{TouchbackBean.sourceId}" value="#{rows.sourceId}" />
									<f:setPropertyActionListener target="#{TouchbackBean.detailId}" value="#{rows.detailId}" />
								</h:commandLink>
							</h:column>
								
							
							<h:column headerClass = "touchTouch">
								<f:facet name="header">
									<div class="touchbackId">ID</div>
								</f:facet>
							    <h:outputText value="#{rows.touchbackId}" styleClass="touchbackId" />
							</h:column>
							<h:column headerClass = "touchEntity">
								<f:facet name="header">
									<div class="entityId">Entity</div>
								</f:facet>
								<h:selectOneMenu value="#{rows.entityId}" disabled="true" styleClass="false">
									<f:selectItems value="#{TouchbackBean.entityIdResults}"/>
								</h:selectOneMenu>
								#{rows.entity}
							</h:column>
							<h:column headerClass = "touchTouchDate">
								<f:facet name="header">
									<div class="touchbackDate">Date</div>
								</f:facet>
							    <h:outputText value="#{rows.touchbackDate}" styleClass="touchbackDate" />
							</h:column>
							<h:column headerClass = "touchSource">
								<f:facet name="header">
									<div class="sourceId">Source</div>
								</f:facet>
								<h:selectOneMenu value="#{rows.sourceId}" disabled="true" styleClass="false">
									<f:selectItems value="#{TouchbackBean.sourceIdResults}"/>
								</h:selectOneMenu>
								#{rows.source}
							</h:column>
							<h:column headerClass = "touchDetail">
								<f:facet name="header">
									<div class="detailId">Detail</div>
								</f:facet>
								<h:selectOneMenu value="#{rows.detailId}" disabled="true" styleClass="false">
									<f:selectItems value="#{TouchbackBean.detailIdResults}"/>
								</h:selectOneMenu>
								#{rows.detail}
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{TouchbackBean.prevResults}" rendered="#{!TouchbackBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{TouchbackBean.nextResults}" rendered="#{!TouchbackBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>