<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Visitors Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
	<f:metadata>
			<f:event type="preRenderView" listener="#{VisitorsBean.refreshNotesList}"/>
	</f:metadata>
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>	
		<div id="content">
		<h:form id="form1">	
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>					
				<div id="right">				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Visitors</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>
								<h:commandButton disabled="true" style="float:right" value="Clear Search" action="#{VisitorsBean.clearSearchAction}" />							
								<h:commandButton value="Search" style="float:right" action="#{VisitorsBean.searchNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Delete" action="#{VisitorsBean.deleteAction}" />
								<h:commandButton value="Create" style="float:right" action="#{VisitorsBean.createNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="Edit" action="#{VisitorsBean.editNavigate}" />
								<h:commandButton value="List" style="float:right" action="#{VisitorsBean.listNavigate}" />
								<div style="clear:both"></div>	
							</div>
						</div>								
						<div id="contentHeader"><br/>Edit Visitors<br/><br/></div>
						<div id="editFields">							    
							<div class="contentLabel">
								IP:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.ipAddress}'  maxlength="20" styleClass="ipAddress" />
							</div>					
							<div class="contentLabel">
								Hostname:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.hostname}'  maxlength="100" styleClass="hostname" />
							</div>					
							<div class="contentLabel">
								Page Visited:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.pageVisited}'  styleClass="pageVisited"/>
							</div>								
							<div class="contentLabel">
								Referrer:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.referrer}'  styleClass="referrer"/>
							</div>								
							<div class="contentLabel">
								Time:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.timeRequested}'  maxlength="19" styleClass="timeRequested" />
							</div>					
							<div class="contentLabel">
								Date:
							</div>						
							<div class="contentField">
						    	<h:inputText value='#{VisitorsBean.timestamp}' styleClass="timestamp" >							  	
   									<f:convertDateTime pattern="MM/dd/yyyy"/>
						    	</h:inputText>(mm/dd/yyyy)
							</div>					    	
							<div class="contentLabel">
								OS:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.os}'  maxlength="45" styleClass="os" />
							</div>					
							<div class="contentLabel">
								Browser:
							</div>						
							<div class="contentField">
								<h:inputText value='#{VisitorsBean.browser}'  maxlength="45" styleClass="browser" />
							</div>					
							<div class = "notes-display">
								<div class = "notes-header">
									Notes
								</div>
								<ui:repeat 	value="#{NoteList.noteList}"
											var="rows" varStatus="rowstatus">
									<div class="notes-content">
										<h:inputTextarea value='#{rows.note}' maxlength="2000" styleClass="notes-edit-content" />  	

										<h:commandButton value="Edit" style="float:right" action="#{rows.editNoteAction}" />
										<h:commandButton value="Delete" style="float:right" action="#{rows.deleteNoteAction}" />
									</div>
								</ui:repeat>							
								<div class="notes-add">
									<h:inputTextarea value='#{VisitorsBean.addNotetext}' maxlength="2000" styleClass="notes-add-input" />  	
									<h:commandButton value="Add Note" style="float:right" action="#{VisitorsBean.addNote}" />
								</div>
							</div>
							<div style="clear:both"></div>			
						</div><!-- edit fields -->
						<div id="contentButtons">							
							
							<h:commandButton value="Cancel" style="float:right" action="#{VisitorsBean.listNavigate}" />
							<h:commandButton value="Save" style="float:right" action="#{VisitorsBean.editAction}" />

							<div style="clear:both"></div>
						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>				
					
				</div> <!-- right -->					
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div><!-- content -->
	</div><!-- wrapper -->
</body>
</html>