<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Visitors Table List</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
	<link href="../css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2 style="float:left">Marketing Database</h2>
	   		<div style="clear:both"></div>
		</div>
		<div id="content">
<h:form id="form1">			
			<f:view>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="menu.xhtml"/>
				</div>						
				<div id="right">
					
				
						<div class="sectionHeader">
							<div style="position: relative; left: 5px;">
								<p style="float:left">	
									<b>Visitors</b><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" /><h:outputText value="&#160;" />
								</p>

								<h:commandButton value="Clear Search" style="float:right" action="#{VisitorsBean.clearSearchAction}" />
								<h:commandButton value="Search" style="float:right" action="#{VisitorsBean.searchNavigate}" />
								<h:commandButton value="Delete" style="float:right" action="#{VisitorsBean.deleteAction}" onclick="return confirm('Are you sure you want to delete?')"/>
								<h:commandButton value="Create" style="float:right" action="#{VisitorsBean.createNavigate}" />
								<h:commandButton disabled="#{VisitorsList.editDisabled}" value="Edit" style="float:right" action="#{VisitorsBean.editNavigate}" />
								<h:commandButton disabled="true" style="float:right" value="List" action="#{VisitorsBean.listNavigate}" />
								<h:commandButton style="float:right" value="Export to CSV" action="#{VisitorsBean.exporttoCSV}" />

								<div style="clear:both"></div>
							</div>
						</div>
	
						<h:dataTable value="#{VisitorsList.visitorsList}" var="rows" preserveDataModel="true" styleClass="livetableList" columnClasses="selectButton, visitorsIp, visitorsHostname, visitorsPage, visitorsReferrer, visitorsTime, visitorsTimestamp, visitorsOS, visitorsBrowser">								
							
							<h:column headerClass = "selectButton">
								<f:facet name="header">
									Select
								</f:facet>
								<h:commandLink action="#{VisitorsBean.selected}" rendered="#{rows.selected}">
									
									 	<div id="radio" class="radio_check"></div>
									
									<f:setPropertyActionListener target="#{VisitorsBean.id}" value="#{rows.id}" />
									<f:setPropertyActionListener target="#{VisitorsBean.ipAddress}" value="#{rows.ipAddress}" />
									<f:setPropertyActionListener target="#{VisitorsBean.hostname}" value="#{rows.hostname}" />
									<f:setPropertyActionListener target="#{VisitorsBean.pageVisited}" value="#{rows.pageVisited}" />
									<f:setPropertyActionListener target="#{VisitorsBean.referrer}" value="#{rows.referrer}" />
									<f:setPropertyActionListener target="#{VisitorsBean.timeRequested}" value="#{rows.timeRequested}" />
									<f:setPropertyActionListener target="#{VisitorsBean.timestamp}" value="#{rows.timestamp}" />
									<f:setPropertyActionListener target="#{VisitorsBean.os}" value="#{rows.os}" />
									<f:setPropertyActionListener target="#{VisitorsBean.browser}" value="#{rows.browser}" />
								</h:commandLink>
								<h:commandLink action="#{VisitorsBean.selected}" rendered="#{not rows.selected}">
									
									 	<div id="radio" class="radio_uncheck"></div>
									
									<f:setPropertyActionListener target="#{VisitorsBean.id}" value="#{rows.id}" />
									<f:setPropertyActionListener target="#{VisitorsBean.ipAddress}" value="#{rows.ipAddress}" />
									<f:setPropertyActionListener target="#{VisitorsBean.hostname}" value="#{rows.hostname}" />
									<f:setPropertyActionListener target="#{VisitorsBean.pageVisited}" value="#{rows.pageVisited}" />
									<f:setPropertyActionListener target="#{VisitorsBean.referrer}" value="#{rows.referrer}" />
									<f:setPropertyActionListener target="#{VisitorsBean.timeRequested}" value="#{rows.timeRequested}" />
									<f:setPropertyActionListener target="#{VisitorsBean.timestamp}" value="#{rows.timestamp}" />
									<f:setPropertyActionListener target="#{VisitorsBean.os}" value="#{rows.os}" />
									<f:setPropertyActionListener target="#{VisitorsBean.browser}" value="#{rows.browser}" />
								</h:commandLink>
							</h:column>
								
							
							<h:column headerClass = "visitorsIp">
								<f:facet name="header">
									<div class="ipAddress">IP</div>
								</f:facet>
								<h:outputText value="#{rows.ipAddress}" styleClass="ipAddress" />
							</h:column>
							<h:column headerClass = "visitorsHostname">
								<f:facet name="header">
									<div class="hostname">Hostname</div>
								</f:facet>
								<h:outputText value="#{rows.hostname}" styleClass="hostname" />
							</h:column>
							<h:column headerClass = "visitorsPage">
								<f:facet name="header">
									<div class="pageVisited">Page Visited</div>
								</f:facet>
								<h:outputText value="#{rows.pageVisited}" styleClass="pageVisited" />
							</h:column>
							<h:column headerClass = "visitorsReferrer">
								<f:facet name="header">
									<div class="referrer">Referrer</div>
								</f:facet>
								<h:outputText value="#{rows.referrer}" styleClass="referrer" />
							</h:column>
							<h:column headerClass = "visitorsTime">
								<f:facet name="header">
									<div class="timeRequested">Time</div>
								</f:facet>
								<h:outputText value="#{rows.timeRequested}" styleClass="timeRequested" />
							</h:column>
							<h:column headerClass = "visitorsTimestamp">
								<f:facet name="header">
									<div class="timestamp">Date</div>
								</f:facet>
							    <h:outputText value="#{rows.timestamp}" styleClass="timestamp" />
							</h:column>
							<h:column headerClass = "visitorsOS">
								<f:facet name="header">
									<div class="os">OS</div>
								</f:facet>
								<h:outputText value="#{rows.os}" styleClass="os" />
							</h:column>
							<h:column headerClass = "visitorsBrowser">
								<f:facet name="header">
									<div class="browser">Browser</div>
								</f:facet>
								<h:outputText value="#{rows.browser}" styleClass="browser" />
							</h:column>
						</h:dataTable>

						<div class="listNav">

							<h:commandLink id="prevBtn" action="#{VisitorsBean.prevResults}" rendered="#{!VisitorsBean.firstPage}" styleClass="prevLink">
								<h:outputText value="&lt;&lt; Prev"/>
							</h:commandLink>	
							<h:commandLink id="nextBtn" action="#{VisitorsBean.nextResults}" rendered="#{!VisitorsBean.lastPage}" styleClass="nextLink">
								<h:outputText value="Next &gt;&gt;"/>
							</h:commandLink>								

						</div>

						<h:outputText value="#{MessageBean.msg}" styleClass="error"/>
					
				</div> <!-- right -->
			</f:view>
					<div id="footer" >
			<div style="border-top:1px solid #999;">
				<div style="margin-right:auto; margin-left:auto; width: 850px;">
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/arrow.gif"/></a></div>
					<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
					<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="../images/text.gif" /></a></div>
					<br style="clear: both" />
				</div>
			</div>
		</div> <!-- Footer -->
		</h:form>
	</div> <!-- content -->
	</div> <!-- wrapper -->
</body>
</html>