<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Cp1252"/>
	<title>Vgo</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<link href="css/layout.css" rel="stylesheet" type="text/css" />
	<h:outputScript name="js/formValidate.js" />
	
</head>
<body>
	<div id="wrapper">
	   	<div id="header">
	   		<h2>Marketing Database</h2>
		</div>		
		<div id="content">
			<f:view>
				<h:form>
				<!-- Menu -->
				<div id="left">
				    <div class="sectionHeader">Menu</div>
				    <ui:include src="./pages/menu.xhtml"/>
				</div>			
	
					<div id="right">
						<div class="sectionHeader">
							NEOS Marketing Database Tracker
						</div>
						<!-- Content -->
						<br/><br/>Track all marketing activities in one place using the NEOS Marketing Database.
						
					</div> <!-- right -->	
					<div id="footer" >
						<div style="border-top:1px solid #999;">
							<div style="margin-right:auto; margin-left:auto; width: 850px;">
								<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="images/arrow.gif" /></a></div>
								<div style="float:left; padding-top: 15px;">Footer Text, Maybe some various copyright stuff.	Vgo Software 2007. Maybe some disclaimers. Rev does not cure hangovers.</div>
								<div style="float:left; width: 90px;"><a href="http://www.vgosoftware.com"><img src="images/text.gif" /></a></div>
								<br style="clear: both" />
							</div>
						</div>
					</div> <!-- Footer -->
					</h:form>
				</f:view>
			</div> <!-- content -->
		</div> <!-- wrapper -->
	</body>
</html>

