/*
* Style sheet for the layout of the pages
* This is all structural styling. Content related styling is in styles.css
*/
/* Index Page */
BODY { position: relative; min-width: 768px; width: 100%; margin: 0; padding: 0; border: none; text-align: left; }

a:active
{
  outline: none;
}

#wrapper {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
#content {
	overflow: auto;
	margin-top: 5px;
	display: inline;	
}
#header {
	text-align:center;
	margin-top: 10px;
}
#left {
	float:left;
	border-left:1px solid #ccc;
	width:24%;
	display: inline;
}
#left ul {
	list-style-type:none;
	padding:0px; 
	margin:0px;
}
#left li {
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
#right {
	float:right;
	width:74%;
	display: inline;
	overflow: auto;
	
}
#right table {
	float: left;
	width: 100%;
	border: 1px solid #ccc;
	empty-cells:show;
	background-color: #FFFFFF;		
}
#right table th {
	font-weight:bold;
	FONT-SIZE: 70%; 
	text-align:center;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #ccc;	
}
#right table td {
	font-weight:normal;
	FONT-SIZE: 70%; 
	text-align:center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;	
}
div.row {
  clear: both;
  padding-top: 10px;
}

div.row span.label {
  float: left;
  width: 200px;
  text-align: right;
}

div.row span.formw {
  float: left;
  width: 335px;
  text-align: left;
} 

#footer {
/* needed for layout to float the content correctly */
	clear:both;
}

/* Border Styles */
.b_l {
	border-left: 1px solid #ccc;
}
.b_r {
	border-right: 1px solid #ccc;
}
.b_t {
	border-top: 1px solid #ccc;
}
.b_b {
	border-bottom: 1px solid #ccc;
}
.b_b_2px {
	border-bottom: 1px solid #ccc;
}

.contentLabel {
	float: left;
	width: 48%;
	text-align: right;
	padding:4px;
}

.contentField {
	float: left;
	width: 48%;
	text-align: left;
	padding:4px;
}

#contentButtons {
	float: center;
}

.prevLink{
	float: left;
}
.nextLink{
	float: right;
}