body  {
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12pt;	
	FONT-FAMILY: Arial, Sans-serif; 
}
a:link {
	color: #0000FF;
	font-size: 10pt;
}

a:visited {
	color: #ff9900;
	font-size: 10pt;
}
img {
	border:0;
}
p {
	vertical-align: middle;
}
.hide_div{
	display:none;
	visibility:hidden;
}
.sectionHeader {
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: #ffffcc;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ccc;
}
#header h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	font-size: 18pt;	
}
#footer {
	font-size: 60%;
	font-style: italic;
	text-align: center;
/*	padding-left: 5%;
	padding-right: 20%;
	padding-top: 10px;
*/	width: 100%;
	height: 150px;
	margin-top: 25px;
	padding-top: 25px;
}
#footer  a {
	text-decoration: none;
	color: white;
}
#left a {
	color: rgb(22,85,157);
	text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    display: block;
    font-weight: 700;
}

#left a:hover {
	background-color:lightgray;
}
#contentHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
}
.rowHighlighted{
  background-color:#8C92C6;
}
#radio {
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: 2;
	width: 15px;
	height: 15px;
}
.radio_uncheck {
	background-image: url("../images/radio_button.gif"); 
}
.radio_check {
	background-image: url("../images/radio_button_selected.gif"); 
}	

#createFields {
	font-size: 12pt;
}

#editFields {
	font-size: 12pt;	
}

.error {
	font-weight: bold;
	color: red;
}
.listNav {
	padding: 4px;
}
.tableMagnifier_magnifiedCell{
	font-size: 16pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: #ffffcc;
	padding: 5px 5px 5px 5px;
	border: 1px solid #ccc;
}

/* Will be extended in each table's page */
td {
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	height: 21px;
	white-space: nowrap;
	line-height: 21px;
	overflow: hidden;
}

table.livetableList {
	border-width: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
	table-layout: fixed;
}
table.livetableList tr {
	border-width: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
	height: 21px;
	white-space: nowrap;
	line-height: 21px;
	overflow: hidden;
}
table.livetableList th {
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: #CCCCCC;
	color: #000000;
	height: 21px;
	white-space: nowrap;
	line-height: 21px;
	overflow: hidden;
	text-align: center;
}


#pagingLinks {
	clear:both;
	margin-bottom:10px;	
}

#pagingLinks a.selected{
	background-color: #ffffcc;
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	padding:8px;
}

#pagingLinks a.notSelected{
	padding:8px;
	margin-bottom:2px;	
}

/* Column for Select Radio Buttons */
.selectButton {
	width: 4%;
}


/* Column in CompanyList table */
.companyName {
	width: 96%;
}

/* Columns in DetailList table */
.detailSource {
	width: 27%;
}

.detailDetail {
	width: 70%;
}

/* Columns in DownloadsList table */
.downloadName {
	width: 13%;
}

.downloadEmail {
	width: 19%;
}

.downloadDownload {
	width: 11%;
}

.downloadItem {
	width: 18%;
}

.downloadTimestamp {
	width: 12%;
}

.downloadTime {
	width: 14%;
}

.downloadIp {
	width: 10%;
}

/* Columns in EmailList table */
.emailEmail {
	width: 48%;
}

.emailPerson {
	width: 49%;
}

/* Columns in EntityList table */
.entityCompany {
	width: 48%;
}

.entityPerson {
	width: 49%;
}

/* Columns in NoteList table */
.noteType {
	width: 32%;
}

.noteId {
	width: 7%;
}

.noteNote {
	width: 56%;
}

/* Columns in PersonList table */
.personFirst {
	width: 23%;
}

.personLast {
	width: 23%;
}

.personTitle {
	width: 25%;
}

.personCompany {
	width: 25%;
}

/* Column in SourceList table */
.sourceSource {
	width: 96%;
}

/* Columns in TouchList and TouchbackList tables */
.touchTouch {
	width: 8%;
}

.touchEntity {
	width: 29%;
}

.touchTouchDate {
	width: 10%;
}

.touchSource {
	width: 19%;
}

.touchDetail {
	width: 30%;
}

/* Columns in VisitorsList table */
.visitorsIp {
	width: 12%;
}

.visitorsHostname {
	width: 12%;
}

.visitorsPage {
	width: 12%;
}

.visitorsReferrer {
	width: 16%;
}

.visitorsTime {
	width: 11%;
}

.visitorsTimestamp {
	width: 11%;
}

.visitorsOS {
	width: 10%;
}

.visitorsBrowser {
	width: 12%;
}

.notes-display {
	padding-top: 10px;
	clear:both;
}

.notes-header {
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
}

.notes-content {
	padding: 5px 10px 5px 20px;
    margin: 5px 0px;
    border-radius: 5px;
    background-color: lightgray;
}

.notes-edit-content {
	width: 70%;
}

.notes-add {
    padding: 5px 10px 5px 20px;
    margin: 5px 0px;
    border-radius: 5px;
    background-color: #919191;
}

.notes-add-input {
	width: 70%;
}

.false{
	display: none;
}
.hide-table{
	display:none;
	visibility:hidden;
}

.ui-autocomplete{
	background:#dddddd !important;
	text-align:left !important;
	width:350px !important;
	position:absolute !important;
	font-size:13px !important;

}


